// color palette
$black-bg: #121212;
$lgt-black-bg: lighten($color: $black-bg, $amount: 3);

$grey-bg: #1e1e1e;
$black-txt: #171717;
$white-txt: #ededed;

$my-primary: #86fcf6;
$my-secondary: #D2DE44;
$my-dng: #d4743d;


$drk-prim: darken($color: $my-primary, $amount: 20);
$lgt-prim: lighten($color: $my-primary, $amount: 10);

$lgt-sec: lighten($color: $my-secondary, $amount: 10);

$theme-colors: (
  "primary": #86fcf6,
  "secondary": #D2DE44,
)